@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --base-font-size: 16px;
  --brand-font: 'La Belle Aurore', cursive;
  --navbar-font: 'Quicksand', sans-serif;
  --other-font: 'Montserrat', sans-serif;
  --theme-color-background: rgba(250, 250, 250, 1);
  --theme-color-primary: rgba(33, 33, 33, 1);
  --theme-color-secondary: rgba(199, 165, 0, 1);
  --placeholder-border: 0.1rem solid rgba(33, 33, 33, 0);
  --shadow-dark: rgba(33, 33, 33, 0.30);
  --shadow-secondary: rgba(199, 165, 0, 0.30);
  --centering-margin: 0 auto;
  --standard-margin: 4vmin;
  --standard-padding: 0.5vmin;
}

html {
  font-size: var(--base-font-size);
}

body {
  background-color: var(--theme-color-background);
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
  margin: var(--centering-margin);
}

header {
  margin: var(--centering-margin);
  padding: 0rem;
}

.top-header {
  margin: var(--centering-margin);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
}

.social-media-links {
  display: none;
  flex: 1;
  margin: var(--standard-margin);
  padding-top: calc(var(--standard-padding) * 5);
  padding-left: calc(var(--standard-padding) * 4);
  padding-right: calc(var(--standard-padding) * 4);
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
  color: var(--theme-color-secondary);
}

.social-media-links a {
  padding-left: calc(var(--standard-padding) * 1.25);
  padding-right: calc(var(--standard-padding) * 1.25);
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
  color: var(--theme-color-primary);
}

.social-media-links a:link {
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
  color: var(--theme-color-primary);
}

.social-media-links a:visited {
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
  color: var(--theme-color-primary);
}

.branding {
  flex: 2;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: var(--standard-padding);
  padding-right: var(--standard-padding);
  text-align: center;
  font-family: var(--brand-font);
  background-color: var(--theme-color-background);
  color: var(--theme-color-primary);
  font-size: clamp(100%, 3rem + 2vw, 3rem);
}

.search {
  display: none;
  flex: 1;
  margin: var(--standard-margin);
  padding-top: calc(var(--standard-padding) * 5);
  padding-left: calc(var(--standard-padding) * 4);
  padding-right: calc(var(--standard-padding) * 4);
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
  font-family: var(--navbar-font);
  color: var(--theme-color-secondary);
}

.search input {
  border: var(--placeholder-border);
  border-radius: 0.5rem;
  background-color: var(--theme-color-background);
  color: var(--theme-color-primary);
  font-size: clamp(80%, 0.5rem + 2vw, 0.75rem);
}

.search input:focus {
  border: 0.1rem solid var(--theme-color-secondary);
  border-radius: 0.5rem;
  background-color: var(--theme-color-background);
  color: var(--theme-color-primary);
  font-size: clamp(80%, 0.5rem + 2vw, 0.75rem);
}

.search button {
  background-color: var(--theme-color-background);
  border: var(--placeholder-border);
  border-radius: 0.5rem;
  color: var(--theme-color-primary);
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--standard-margin);
  margin-bottom: var(--standard-margin);
  padding-bottom: var(--standard-padding);
  padding-top: var(--standard-padding);
  align-items: center;
  text-align: center;
  font-family: var(--navbar-font);
}

.nav {
  display: none;
  justify-content: space-evenly;
  margin-top: 0;
  padding-top: var(--standard-padding);
  padding-bottom: var(--standard-padding);
  align-items: center;
  text-align: center;
  font-family: var(--navbar-font);
}

.nav a {
  display: block;
  padding-left: calc(var(--standard-padding) * 4);
  padding-right: calc(var(--standard-padding) * 4);
  padding-top: var(--standard-padding);
  padding-bottom: var(--standard-padding);
  text-align: center;
  color: var(--theme-color-primary);
  text-decoration: none;
}

.nav a:hover {
  display: inline-block;
  padding-left: calc(var(--standard-padding) * 4);
  padding-right: calc(var(--standard-padding) * 4);
  padding-top: var(--standard-padding);
  padding-bottom: var(--standard-padding);
  text-align: center;
  color: var(--theme-color-primary);
  text-decoration: overline;
  text-decoration-color: var(--theme-color-secondary);
  text-decoration-thickness: 0.2rem;
}

.nav a.active {
  display: inline-block;
  padding-left: calc(var(--standard-padding) * 4);
  padding-right: calc(var(--standard-padding) * 4);
  padding-top: var(--standard-padding);
  padding-bottom: var(--standard-padding);
  text-align: center;
  color: var(--theme-color-background);
  background-color: var(--theme-color-primary);
  border: 0.2rem solid var(--theme-color-primary);
  border-radius: 0.5rem;
  text-decoration: none;
}

.nav-toggle {
  display: flex;
  position: absolute;
  cursor: pointer;
  color: var(--theme-color-primary);
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
}

.menu-active {
  display: block;
}

.shopping-grid {
  font-family: var(--other-font);
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4vmin;
  gap: 4vmin;
  /*margin-left: calc(var(--standard-margin) * 4);*/

}

main{
  margin: var(--standard-margin);
}

.card {
  background-color: white;
  border: 0.2rem solid var(--placeholder-border);
  border-radius: 0.5rem;
  box-shadow: 0 30px 24px -20px var(--shadow-dark);
  /*padding: calc(var(--standard-padding) * 6);*/
  width: 85%;
  transition: 0.4s;}

.card:hover{
  box-shadow: 0 10px 14px 0 var(--shadow-dark);
}

.card img {
  border: 0.2rem solid var(--placeholder-border);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.card h2,
.card p {
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  text-align: center;
}

.card h2 {
  font-weight: 500;
}

main {
  font-family: var(--other-font);
}

.picture-text {
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  display: grid;
  grid-template-rows: 2fr, 1fr;
  grid-gap: 2vmin;
  gap: 2vmin;
}

.picture-text div {
  padding: 0rem;
  margin: 0rem;
}

.picture-text img {
  border: 0.2rem solid var(--placeholder-border);
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  vertical-align: middle;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.picture-text p,
.picture-text h2 {
  padding: var(--standard-padding);
  margin: calc(var(--standard-margin) / 4);
}

.picture-text form {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.picture-text form input {
  flex: 2;
  padding: var(--standard-padding);
  margin: calc(var(--standard-margin) / 4);
  background-color: var(--theme-color-background);
  border: 0.1rem solid var(--theme-color-secondary);
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 4px 14px 0 var(--shadow-secondary);
  font-size: clamp(80%, 0.5rem + 2vw, 0.75rem);
}

.picture-text form input:focus {
  flex: 2;
  padding: var(--standard-padding);
  margin: calc(var(--standard-margin) / 4);
  background-color: var(--theme-color-background);
  border: 0.1rem solid var(--theme-color-secondary);
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 4px 14px 0 var(--shadow-secondary);
  font-size: clamp(80%, 0.5rem + 2vw, 0.75rem);
}

.picture-text form button {
  flex: 1;
  margin: calc(var(--standard-margin) / 4);
}

.picture-grid {
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vmin;
  gap: 2vmin;
  width: auto;
  height: auto;
}

.picture-grid img {
  border: 0.2rem solid var(--placeholder-border);
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  vertical-align: middle;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.picture-banner {
  position: relative;
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2vmin;
  gap: 2vmin;
}

.picture-banner img {
  border: 0.2rem solid var(--placeholder-border);
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
  vertical-align: middle;
  filter: brightness(50%);
  object-fit: cover;
}

.picture-banner div.banner-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-rendering: optimizeLegibility;
  color: var(--theme-color-background);
}

.banner-caption h1 {
  font-size: clamp(100%, 0.75rem + 2vw, 1rem);
  text-transform: uppercase;
  padding: var(--standard-padding);
  margin: var(--standard-margin);
}

.banner-caption p {
  font-size: clamp(60%, 0.25rem + 2vw, 0.5rem);
  padding: var(--standard-padding);
  margin: var(--standard-margin);
}

.solid-button {
  background-color: var(--theme-color-secondary);
  color: var(--theme-color-background);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--theme-color-secondary);
  box-shadow: 0 4px 14px 0 var(--shadow-secondary);
  padding-left: calc(var(--standard-padding) * 3);
  padding-right: calc(var(--standard-padding) * 3);
  padding-top: var(--standard-padding);
  padding-bottom: var(--standard-padding);
  font-size: clamp(100%, 1rem + 2vw, 1.5rem);
}

@media screen and (min-width: 900px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--navbar-font);
  }

  .menu {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .search {
    display: flex;
  }

  .social-media-links {
    display: flex;
  }

  .picture-text {
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vmin;
    gap: 2vmin;
  }

  .picture-text div {
    padding: 0rem;
    margin: 0rem;
  }

  .picture-text form {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
  }

  .picture-grid {
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vmin;
    gap: 2vmin;
  }

  .picture-banner div.banner-caption {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-rendering: optimizeLegibility;
    color: var(--theme-color-background);
  }

  .banner-caption h1 {
    font-size: clamp(100%, 5rem + 2vw, 6rem);
    text-transform: uppercase;
    padding: var(--standard-padding);
    margin: var(--standard-margin);
  }

  .banner-caption p {
    font-size: clamp(60%, 1rem + 2vw, 1.5rem);
    padding: var(--standard-padding);
    margin: var(--standard-margin);
  }
}

@media screen and (max-width: 900px) {

  .shopping-grid{
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
}